<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Clicker</title>
    <link rel="stylesheet" href="../content/css/cat.css">
</head>
<body>
    <ul id="cat-list"></ul>
    <div id="cat">
        <h2 id="cat-name"></h2>
        <div class="counter" id="cat-count"></div>
        <img id="cat-img" src="" alt="cute cat">
        <button id="btnAdmin">Admin</button>
    </div>

    <div id="cat-edit">
        <p>
            <span>Name: </span><input id="name" type="text" />
        </p>
        <p>
            <span>Img: </span><input id="img" type="text" />
        </p>
        <p>
            <span>Clicks: </span><input id="clicks" type="text" />
        </p>
        <p>
            <button id="btnCancel">Cancel</button>
            <button id="btnSave">Save</button>
        </p>
    </div>
    <!--<script data-main="../view/catListView.js" src="../lib/require.js"></script>-->
    <script data-main="../octopus/cat.js" src="../lib/require.js"></script>
</body>
</html>