<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Clicker</title>
    <link rel="stylesheet" href="../content/css/cat.css">
</head>
<body>
    <ul id="cat-list"></ul>
    <div id="cat">
        <h2 id="cat-name"></h2>
        <div class="counter" id="cat-count"></div>
        <img id="cat-img" src="" alt="cute cat">
    </div>
    <!--<script data-main="../octopus/cat.js" src="../lib/require.js"></script>-->
    <script data-main="../view/catListView.js" src="../lib/require.js"></script>
    <!--<script src="../view/catListView.js"></script>-->
    <!--<script src="../view/catView.js"></script>-->
</body>
</html>